/target
.idea
/test
*.iml

# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt


# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# 项目添加
target
log
__pycache__
download_file
.download_cache
.request_cache


### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
